:root {
    --purple: #66545e;
    --blue: #4c516d;
    --grey: #4b4952;
    --yellow: #f6e0b5;
    --mauve: #aa6f73;
    --black: #000;
    --white: #fff;
    --teal: #00d7c3;

}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hide {
    display: none !important;
}

header {
    background-size: cover;
    border-bottom: 2px solid var(--black);
    padding-top: 10px;
    padding-bottom: 10px;
}

h1 {
    font-size: 45px;
    text-align: center;
    color: var(--black);
    padding-top: 3px;
    padding-bottom: 10px;
    text-shadow: 0px 3px 3px rgb(65, 64, 64);
}

.shamrock {
    color: rgb(42, 188, 42);
    font-size: 80px;
    line-height: 0.5;
}

.time-score-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer {
    font-size: 35px;
    padding-right: 150px;
    padding-left: 500px;
    padding-top: 5px;
}

.progress-label {
    font-size: 35px;
    padding-left: 150px;
    padding-right: 500px;
    padding-top: 5px;
}

img {
    border-width: 2px;
    border-color: solid black;
    box-shadow: 0px 5px 5px rgb(65, 64, 64);
}

.img-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-size: 35px;
}

.opener {
    text-align: center;
    font-size: 25px;
    padding-bottom: 1px;
}

footer {
    font-size: 35px;
    text-align: center;
    border-top: 2px solid var(--grey);
    margin-top: 20px;
    padding-top: 25px;
}

#btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-start {
    width: 20rem;
    margin-top: 20px;
    text-align: center;
    background-color: var(--blue);
    color: var(--white);
    border: solid 3px var(--black);
    text-decoration: none;
    font-size: 28px;
    padding: 20px 30px 20px 30px;
    border-radius: 15px;
    box-shadow: 0px 5px 5px var(--grey);
}

.btn-start:hover {
    background-color: var(--purple);
    color: var(--yellow);
    transition: 0.4s;
}

.btn[disabled]:hover {
    cursor: not-allowed;
    transform: none;
}

/* .choice-prefix {
    padding: 2px 3px;
    background-color: rgb(3, 59, 76);
    color: white;
} */

.questions-container {
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    margin-left: 30%;
    padding-top: 2rem;
}

.questions-img {
    width: 350px;
    display: block;
    margin-left: 200px;
}

.choice-container {
    display: flex;
    flex-direction: column;
    width: 50rem;
    margin-top: .5rem;
    padding-bottom: 15px;
    margin-left: 2.2rem;
}

.question {
    font-size: 30px;
    text-align: left;
}

.choice-btn {
    font-size: 20px;
    width: 38rem;
    padding: 10px 30px 10px 20px;
    margin-bottom: 9px;
    text-align: left;
    background-color: var(--blue);
    color: white;
    border-radius: 15px;
    list-style-type: none;
}

.choice-btn:hover {
    background-color: var(--yellow);
    color: var(--grey);
}

.check-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 300px;
    border-top: 2px solid #4b4952c3;
}

#right-wrong {
    color: #4b4952c3;
    font-size: 28px;
    margin-left: 188px;
}

.next-btn {
    font-size: 24px;
    width: 15rem;
    padding: 10px 16px 10px 16px;
    margin-bottom: 9px;
    margin-top: 18px;
    margin-left: 188px;
    text-align: center;
    border-radius: 12px;
    background-color: var(--mauve);
    color: var(--white);
}

.next-btn:hover {
    color: var(--grey);
    text-shadow: 2px 2px 3px var(--blue);
    background-color: var(--white);
    box-shadow: 0 0 10px 0 var(--mauve) inset, 0 0 20px 2px var(--mauve);
    border: 3px solid var(--mauve);
}

.highscores-container {
    text-align: center;
    font-size: 25px;
    padding-top: 30px;
    line-height: 0px;
}

#score-display {
    font-size: 80px;
    line-height: 1px;
}

input {
    height: 1.9rem;
    width: 11rem;
}

.submit-btn {
    font-size: 20px;
    width: 9rem;
    margin-left: 1rem;
    padding: 6px 12px 6px 12px;
    text-align: center;
    background-color: var(--yellow);
    border-radius: 10px;
}

.submit-btn:hover {
    text-shadow: 2px 2px 3px var(--blue);
    background-color: var(--white);
    box-shadow: 0 0 10px 0 var(--mauve) inset, 0 0 20px 2px var(--mauve);
    border: 3px solid var(--mauve);
}

h5 {
    font-size: 50px;
    line-height: 0;
}

.highscores-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scoreboard {
    border: 1px solid var(--black);
    height: 500px;
    width: 300px;
    box-shadow: 0 0 10px 0 var(--yellow) inset,
        0 0 20px 2px var(--yellow);
}

.button-box {
    justify-content: center;
    margin-top: 30px;
}

.hs-btn {
    font-size: 24px;
    width: 15rem;
    padding: 10px 16px 10px 16px;
    margin: 2rem .8rem 2rem .8rem;
    text-align: center;
    border-radius: 12px;
    background-color: var(--mauve);
    color: var(--white);
    text-decoration: none;
}

.hs-btn:hover {
    background-color: var(--yellow);
    color: var(--purple);
    transition: 0.3s;
    font-weight: bolder;
}


/* CODE I MIGHT NEED LATER */

/* #btn-container-secondary {
    display: flex;
    justify-content: center;
    /* align-items: center;
}
*/
/* .btn-secondary {
    width: 16rem;
    margin-top: 20px;
    margin-left: 8px;
    margin-right: 8px;
    text-align: center;
    background-color: rgb(31, 118, 211);
    color: white;
    text-decoration: none;
    font-size: 28px;
    padding: 10px 30px 10px 30px;
    border-radius: 15px;
    box-shadow: 0px 5px 5px rgb(65, 64, 64);
} */

/* .btn-secondary:hover {
    transform: scale(1.1);
    transition: 0.3s;
    background-color: rgba(31, 118, 211, 0.7);
    color: rgb(65, 64, 64);
} */