body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background-size: cover;
    background: url(.assets/images/background-print.png) center center fixed;
    border-bottom: 2px solid black;
    background-color: rgb(102, 103, 104);
    padding-top: 10px;
}

h1 {
    font-size: 45px;
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: 0px 3px 3px rgb(65, 64, 64);
}

.time-score-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.time {
    font-size: 35px;
    padding-right: 150px;
    padding-left: 500px;
    padding-top: 5px;
}

.high-scores {
    font-size: 35px;
    padding-left: 150px;
    padding-right: 500px;
    padding-top: 5px;
}

img {
    border-width: 2px;
    border-color: solid black;
    box-shadow: 0px 5px 5px rgb(65, 64, 64);
}

.img-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-size: 35px;
}

.opener {
    text-align: center;
    font-size: 25px;
    padding-bottom: 1px;
}

footer {
    font-size: 35px;
    text-align: center;
    border-top: 2px solid grey;
    margin-top: 20px;
    padding-top: 25px;
}

#btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-start {
    width: 20rem;
    margin-top: 20px;
    text-align: center;
    background-color: rgb(8, 176, 39);
    color: white;
    text-decoration: none;
    font-size: 28px;
    padding: 20px 30px 20px 30px;
    border-radius: 15px;
    box-shadow: 0px 5px 5px rgb(65, 64, 64);
}

.btn-start:hover {
    background-color: rgba(8, 176, 39, 0.558);
    color: rgb(65, 64, 64);
    transition: 0.4s;
}

.btn[disabled]:hover {
    cursor: not-allowed;
    transform: none;
}

/* #hidden { */
/* display: none;
} */

/* .choice-prefix {
    padding: 2px 3px;
    background-color: rgb(3, 59, 76);
    color: white;
} */

.questions-container {
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    margin-left: 30%;
}

.answers-container {
    display: flex;
    flex-direction: column;
    width: 50rem;
    margin-top: .5rem;
}

.questions {
    font-size: 30px;
    text-align: left;

}

.answers {
    font-size: 20px;
    width: 40rem;
    padding: 10px 30px 10px 15px;
    margin-bottom: 9px;
    text-align: left;
    background-color: rgb(74, 28, 126);
    color: white;
    border-radius: 15px;
    list-style-type: none;
}

.answers:hover {
    background-color: rgba(74, 28, 126, 0.498);
}


/* CODE I MIGHT NEED LATER */

/* #btn-container-secondary {
    display: flex;
    justify-content: center;
    /* align-items: center;
}
*/
/* .btn-secondary {
    width: 16rem;
    margin-top: 20px;
    margin-left: 8px;
    margin-right: 8px;
    text-align: center;
    background-color: rgb(31, 118, 211);
    color: white;
    text-decoration: none;
    font-size: 28px;
    padding: 10px 30px 10px 30px;
    border-radius: 15px;
    box-shadow: 0px 5px 5px rgb(65, 64, 64);
} */

/* .btn-secondary:hover {
    transform: scale(1.1);
    transition: 0.3s;
    background-color: rgba(31, 118, 211, 0.7);
    color: rgb(65, 64, 64);
} */ 