body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background-size: cover;
    background: url(.assets/images/background-print.png) center center fixed;
    border-bottom: 2px solid black;
    background-color: rgb(102, 103, 104);
    padding-top: 10px;
}

h1 {
    font-size: 45px;
    text-align: center;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    text-shadow: 0px 3px 3px rgb(65, 64, 64);
}

.time-container {
    display: flex;
    flex-direction: row-reverse;
}

.time {
    font-size: 40px;
    padding-right: 100px;
    padding-left: 580px;
}

.high-scores {
    font-size: 35px;
    padding-left: 100px;
    padding-right: 580px;
}

img {
    border-width: 2px;
    border-color: solid black;
    box-shadow: 0px 5px 5px rgb(65, 64, 64);
}

.img-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-size: 35px;
}

.opener {
    text-align: center;
    font-size: 25px;
    padding-bottom: 50px;
}

footer {
    font-size: 35px;
    text-align: center;
    border-top: 2px solid grey;
    padding-top: 25px;
}

button {
    margin-top: 20px;
    background-color: rgb(31, 118, 211);
    color: white;
    font-weight: bold;
    font-size: 33px;
    padding: 20px 30px 20px 30px;
    border-radius: 15px;
    box-shadow: 0px 5px 5px rgb(65, 64, 64);
}

